.container {
    margin-top: 0px;
    padding: 0px;
    height: 100vh;
    position: relative;
}

.paper-question {
    top: calc(50% - 220px);
    left: calc(50% - 440px);
    position: fixed;
    background-color: white;
    border-radius: 10px;
    border-bottom-left-radius: 60px;
}

.head {
    height: 9%;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: normal;
}

h1,h2,h3{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: normal;
    cursor: pointer;
}

.title{
    color: #008099;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: normal;
}


.grid {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-variant: normal;
}

.qa-container {
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
}

.question-block, .answer-block {
    width: 400px;
    height: 300px;
    padding: 10px 10px 40px 10px;
}
  

.slider {
    z-index: 2000;
    max-width: 250px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-question {
    background-color: #45a29e;
    color: white;
    padding: 8px;
    border-radius: 10px;
    border-color: #66fcf1;
    font-variant: normal;
    font-size: 16px;
    box-shadow: 5px 5px 6px 0 #999999;
}

.button-question:hover {
    background-color: #66fcf1;
}

hr {
    background-color: #008099;
    width: auto
}

.side-panel {
    background: #002233;
    color: white;
    position: fixed;
    transform: translateX(100%);
    transition: transform;
    padding: 10px;
    left: 100%;
    top: 11%;
  }
  .side-panel.open {
    transform: translateX(0);
    left: 100%;
  }

  #triangle {
    width: 0;
    height: 0;
    border-right: 60px solid grey;
    border-bottom: 60px solid black;
    border-bottom-left-radius: 60px;
    transform: rotate(0deg);
    margin-left: -1px;
    margin-bottom: -1px;
}