body {
    overflow: hidden;
  }

.container{
    margin-top: 0px;
    padding: 0px;
    height: 100vh;
    position: relative;
}

h1,h2,h3{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    cursor: pointer;
}

.title{
    color: #008099;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    padding: 20px 0 20px;
}

.arrow {
    z-index: 1000;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.grid {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-variant: small-caps;
}

button {
    background-color: #00B3B3;
    color: white;
    padding: 8px;
    border-radius: 10px;
    border-color: #00B3B3;
    font-variant: small-caps;
    font-size: 16px;
}

button:hover {
    background-color: #0095B3;
}

.side-drawer { 
    background: #002233;
    color: white;
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    padding: 100px 20px;
    left: 100%;
    top: 0%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
 }
 .side-drawer.open {
    transform: translateX(0);
    left: 85%;
 }

  .side-panel {
    background: #002233;
    color: white;
    position: fixed;
    transform: translateX(100%);
    transition: transform;
    padding: 10px;
    left: 100%;
    top: 11%;
  }
  .side-panel.open {
    transform: translateX(0);
    left: 94.5%;
  }

  .form {
    width: 216px;
}

#area-filled-basic {
    width: 40ch;
}