.logo-appbar-login {
    left: calc(50% - 155px);
    top: calc(50% - 15px);
    width: 40px;
    position: absolute;
}

.brand-appbar-login {
    left: calc(50% - 100px);
    position: absolute;
}

.brand-appbar-login {
    color: #1f2833;
}
